body {
    margin: 0;
    background-color: white;
    font-family: sans-serif;
    color: white;
    background-image: url(img/body-bg.jpg);
    width: 100%;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

h1 {
    padding-left: 0;
    font-size: 30px;
    color: white;
}

#search-icon {
    height: 24px;
    cursor: pointer;
}

#input {
    display: flex;
    align-items: center;
    position: relative;
}

input {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 7px;
    padding: 7px;
    width: 230px;
    color: white;
}

textarea:focus, input:focus {
    outline: none;
}

.search-img {
    position: absolute;
    right: 15px;
    height: 15px;
    cursor: pointer;
}

.d-none {
    display: none !important;
}


#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    position: relative;
    margin: 20px;
    width: 250px;
    height: 200px;
    border-radius: 20px;
    cursor: pointer;
}

.poke-name-number {
    display: flex;
    justify-content: space-around;
}

h3 {
    font-size: 25px;
}

.type-style {
    margin-left: 25px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    width: 50px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poke-img {
    position: absolute;
    right: 40px;
    bottom: 10px;
    height: 90px;
}

 /* ================================================================== single Card  */
#single-card {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(39, 33, 44, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overflow {
    overflow-y: hidden;
}

.open-cards {
    border-radius: 30px;
    width: 450px;
    height: 550px;
}

.card-top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 20px 0 20px;
}

.card-icon {
    cursor: pointer;
}

.heart {
    position: absolute;
    right: 0;
}

.poke-details {
    background-color: rgb(22, 25, 26);
    margin-top: 248px;
    height: 250px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poke-details-2 {
    background-color: rgb(22, 25, 26);
    width: 450px;
    height: 400px;
    margin-top: 98px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poke-img-card {
    width: 230px;
    margin-top: -115px;
}

.poke-name {
    margin-top: -71px;
}

h5 {
    font-size: 30px;
    margin-bottom: 0;
}

.card-type {
    display: flex;
    padding-top: 20px;
}

#about {
    padding-top: 20px;
    width: 350px;
    height: 185px;
}

.about-strengths {
    display: flex;
    justify-content: space-evenly;
}

.type-style-card {
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    width: 50px;
    font-size: 15px;
    display: flex;
    justify-content: center;
}


.arrow {
    height: 40px;
    cursor: pointer;
}